body {
  background-color: rgb(0, 0, 0) !important;
  height: 100dvh;
  width:100dvw;
  overflow: hidden;
}

* {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  color: aliceblue; 
}

#main_menu {
  position: static;
  display: none;
  transition: opacity 2s;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

button:not(.is-disabled) {
  transition: scale 1s;
}
button:hover:not(.is-disabled) {
  scale: 1.1;
}

input:not(.is-disabled) {
  transition: scale 1s;
}
input:hover:not(.is-disabled) {
  scale: 1.1;
}

.render {
  position: static;
  margin: 0;
  z-index: -1;
}

#blackout {
  background-color: rgb(33, 37, 41);
  height: 100dvh;
  width: 100dvw;
  transition: transform 5s;
  position: absolute;
}

#login {
  transition: opacity 2s;
  display: flex;
  position: static;
  display: none;
}

#preptodie, .menubtn{
  width:35dvw;
}


#logo {
  scale:3;
  transition: scale 2s;
}

footer {
  opacity: 0.5;
}