body {
    background-color: rgb(0, 0, 0) !important;
    height: 100dvh;
    width:100dvw;
    overflow: hidden;
}

* {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    color: aliceblue; 
}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

#submitbtn {
    margin-top :10%;
}

.render {
    position: static;
    margin: 0;
    z-index: -1;
}

#blackout {
    background-color: rgb(33, 37, 41);
    height: 100dvh;
    width: 100dvw;
    transition: transform 5s;
    position: absolute;
}

#login {
    transition: opacity 2s;
    position: relative;
    opacity: 0;
}

#preptodie {
    width:35dvw;
}

#logo {
    scale:3;
    transition: scale 2s;
}
