.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logo {
    aspect-ratio: 1/1;
    width: 10dvw;
}

.chatbox {
    width: 30dvw;
    height: 78dvh;
}

.globalchats {
    height: 53dvh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.submitchat {
    margin-left: 5%;
    width: 7dvw ! important;
}

.box {
    height: 70dvh;
    width: 15dvw;
}

.settings {
    align-self: center;
}

.roomeventbtn {
    width: 18dvw !important;
}

.gameplayer {
    background: black;
    position: relative;
    z-index: -1;
}


.backtomenu {
    width: 10dvw !important;
    bottom: 5%;
    right: 5%;
    position: fixed;
}
.leaderbd {
    width: 50dvw;
    height: 50dvh;
    overflow-x: hidden;
}

.roomdata {
    height: 25dvh;
    width: 40dvw;
}

.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}

.playerlist {
    overflow-x: hidden;
    height: 35dvh;
}

.kickbtn {
    width: 10dvw !important;
}


.map {
    width: 40dvw;
    height: 45dvh;
}

.gamesection {
    position: absolute; 
    width: 13%;
    bottom: 2%;
}
.icons {
    padding-right: 12%;
    margin-bottom: 12%;
}


.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 10px solid;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
  }
  @keyframes animloader {
    0% {
      border-color: white rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }
    33% {
      border-color: white white rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }
    66% {
      border-color: white white white rgba(255, 255, 255, 0);
    }
    100% {
      border-color: white white white white;
    }
  } 